.home {
    height: 100vh;
    color: hsl(0, 0%, 100%);
    background-image: url('https://www.canr.msu.edu/fsp/news/FarmScaleArealView%20%281%29.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}

.home_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: hsla(0, 0%, 0%, 0.5); 
}
.home_container p {
    margin: 3px;
    font-size: 1.1em;
}
.home_button {
    border: none;
    margin-top: 10%;
    font-size: 1.3em;
    padding: 10px 20px;
    cursor: pointer;
}
.home_button:hover {
    background-color: #92ff77;
}