.question_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
    background-color: #0f0707;
}

.section_1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

h2 {
    margin: 0;
    font-size: 2em;
}

.screener, .gender, .form_questions {
    font-size: 1.3em;
}

.question_statement {
    font-style:italic;
    font-weight: 900;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.other_input {
    font-size: 15px;
}

.screener, .os, .recommend{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.3em;
}

.screener div, .gender, .buttons {
    display: flex;
    justify-content: center;
    gap: 13px;
}

.form_questions {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.form_questions input {
    width: 100%;
    margin: auto;
    height: 25px;
}

.buttons {
    gap: 20%;
}

.all_buttons {
    padding: 5px 40px;
    font-size: 1em;
    cursor: pointer;
    background-color: #fff;
    border: none;
    margin-top: 10%;
}

.os input, .recommend input{
    width: 100%;
    margin: 5% auto;
    height: 30px; 
}

@media (max-width: 480px) {
    h2 {
        font-size: 1.5em;
    }
}